{{> Navigation/nav-block dashboard=false create=true account=false signup=false}}

<div class="container">

  <header class="text-center header-wrap" align="center">
    <h1>Add a task</h1>
  </header>


  <div class="row justify-content-center">
    <form class="col-md-6 mx-0">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label class="" for="inputTaskName">Tasks </label>
          <input type="text" class="form-control" id="inputTaskName" name="task_name" placeholder="Task">
        </div>
      </div>

      <button type="submit" id="add-task" class="btn btn-primary">Create Task</button>

    </form>
  </div>
</div>


