<body>
{{> Navigation/nav-block dashboard=true create=false account=false signup=false}}
<br><br>

<main >

  <h2>Tasks to be completed:</h2>
  <ul>
  {{#each tasks}}
      {{#unless completed}}
    {{> query-block complete=false}}
        {{/unless}}
  {{/each}}
</ul>


<h2>COMPLETED!</h2>
    <ul>
  {{#each tasks}}
      {{#if completed}}
    {{> query-block complete=true}}
        {{/if}}
  {{/each}}
      </ul>


  
  
</main>
</body>
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
  <script>
    $(document).ready(function() {
        $(".sidenav").sidenav();
    });
  </script>