#image2 {
    padding-top: 20px;
}

#image3 {
    width: 600px;
    margin-top: 10px;
}

#registration {
    color: #f19833;
    padding: 10px
}

h1 {
    color: #f19833;
}

#add-account {
    margin-bottom: 25px;
    padding: 6px 25px;
    background: #f19833;
    color: #fff;
    font-weight: bold;
    border: 0 none;
    border-radius: 3px;
}

.footer {
    font-size: 18px;
    text-align: center;
    background-color: black;
    color: #f19833;
}

#login-logo,
header {
    background-color: black;
}

p {
    padding-right: 10px;
    padding-left: 10px;
}

.btn {
    margin: 10px;
    padding: 6px 25px;
    background: #f19833;
    color: #fff;
    font-weight: bold;
    border: 0 none;
    border-radius: 3px;
}

#login-page {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 10px;
    width: 90%;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
}

#sign-up-page {
    background-color: #FCFCFC;
    position: relative;
    margin-top: 5px;
    padding-top: 5px;
    width: 90%;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
}

#create-form {
    width: 65%;
}

@media (max-width: 500px) {

    .footer {
        position: relative;
    }

    #go-home {
        width: 200px;
    }

    #create-form {
        width: 90%;
    }

    #image,
    #image2,
    #image3 {
        width: 85% !important;
    }
}

